<table class="table">
    <tbody>
    <tr>
        <td>爱好：做自己想做的事,无拘无束。 </td>
        <td>梦想职业：成为能够独当一面的Java后端工程师</td>
    </tr>
    <tr>
        <td colspan="2">
            <p>个人介绍：喜欢探索一些未知的事,会尝试一些有难度的问题,永远向往明天。慢热,爱独处,不爱主动主动说话,如果能遇到懂我的人,是我的幸运,遇不到也是很正常的事。深情且冷漠。</p>
        </td>
    </tr>
    </tbody>
</table>
